<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + React</title>
    <script type="module" src="{{ url_for('static', filename='assets/index-B_SgMjYa.js') }}"></script>

    <!-- <script type="module" crossorigin src="/assets/index-DkxDrYFx.js"></script> -->
    <link rel="stylesheet" crossorigin href="{{ url_for('static', filename='assets/index-DJwi00HK.css') }}">
    <!-- <link rel="stylesheet" crossorigin href="/assets/index-BVtd0JcC.css"> -->
  </head>
  <body>
    <div id="root"></div>

  </body>
</html>
